.nameAndResult__container {
    display: flex;
    justify-content: space-around;
}

.nameAndResult__part__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 6px;
    font-size: 25px;
    width: 350px;
}

.nameAndResult__player__name {
    word-wrap: break-word;
    color: white;
}

.nameAndResult__player__score {
    display: flex;
    justify-content: center;
    color: white;
}

[hidden] {
    display: none;
}

.nameAndResult__player__photo {
    width: 150px;
    border-radius: 7px;
    background-color: white;
}

.nameAndResult__logo {
    width: 180px;
}